#p-cactions, #column-one {
  display: none;
}

#footer {
  display: none;
}

body {
  background: white;
  font: small sans-serif !important;
}

div#column-content{
  margin: 0;
  float: none;
}

div#content {
  margin: auto;
  padding-top: 30px;
  max-width: 960px;
  border: none;
}

#navegador {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  background-color: rgba(243, 243, 243, 0.95);
  z-index: 100;
  padding: 3px;
  border-bottom: 1px solid rgb(155, 155, 155);
  box-shadow: 0px 0px 5px #888;
}

.derecha {
  float: right;
}


.cuerpo-buscador {
  margin: 1em;
  margin-top: 1.5em;
  font-family: sans-serif;
  font-size: 17px;
}

.cuerpo-buscador input {
  height: 34px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 4px;
  padding-left: 5px;
}

.invisible {
  display: none;
}

.resultados {
  margin-top: 1.5em;
}

.mw-headline {
  padding-top: 40px;
  display: inline-block;
}


.resultados ul {
  list-style: none;
  padding-left: 0;
}

.resultados ul li {
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  margin-bottom: 10px;
  padding: 12px;
}


.isa_note, .isa_tip, .isa_warning, .isa_important {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;-moz-border-radius:.5em;
  -webkit-border-radius:.5em;
  border-radius:.5em;
}

.isa_note {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../../documentacion/images/b/b3/Info.png');
}

.isa_tip {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../../documentacion/images/e/ef/Success.png');
}
.isa_important {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../../documentacion/images/c/cb/Warning.png');
}
.isa_warning {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../../documentacion/images/4/49/Error.png');
}

.small {
  color: gray;
  font-size: small;
}

#catlinks {
  display: none;
}

.magnify {
  display: none;
}
