<html lang="es" ng-app='app'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Buscar</title>
	</head>

	<body>

<link rel="stylesheet" type="text/css" href="app://./css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="app://./css/estilo.css"/>
    
<script type="text/javascript" src="app://./js/barra.js"></script>
<script type="text/javascript" src="app://./js/bootstrap.js"></script>
<script type="text/javascript" src="app://./js/angular.js"></script>

<div id='navegador'> 
  <a class='btn btn-success btn-xs' onclick='history.back()'>« Atrás</a> 
  <a class='btn btn-success btn-xs' href='app://./documentacion/index.html'>Inicio</a>
  <a class='btn btn-success btn-xs' onclick='history.forward()'>Adelante »</a> 
  <a class='btn btn-info btn-xs derecha' href='app://./documentacion/buscar.html'>Buscar</a> 
</div> 
<div ng-controller='AppCtrl' class="contenido" id="content">
 
 <div class='cuerpo-buscador'>
	
  <p>Ingresá el título o palabras claves para comenzar a buscar:</p>
   
	<p>
		<input ng-model='texto' id='input' placeholder="contenido"/> <button ng-disabled='buscando || texto ==""' id='boton' ng-click='buscar()' class='btn btn-success'>Buscar</button>
	</p>
  
  <div class='resultados'>
    <div ng-show='buscando'><img src='app://./imagenes/cargando.gif'/> Buscando ...</div>
    <div ng-hide='buscando'>
      
      <ul ng-hide='resultado == []'>
        <li ng-repeat='r in resultado'>
        	<a ng-href='app://{{r.src}}'>{{r.titulo}}</a>
          <p>
          <span class='small'>{{r.src}}</span>
        </li>
      </ul>
      
      <div ng-show='resultado === []'>
        Sin resultados.
      </div>
    </div>
    
    
  </div>
 </div>
  
  
<script>
var app = angular.module('app', []);
var walk = require('walk');
var fs = require('fs');
var jquery = require('jquery');
var files = [];
  
// Hace foco en el campo de texto
var input = window.document.getElementById('input');
input.focus();
  
// Dispara la busqueda si se pulsa enter sobre el campo de texto.
input.onkeydown = function(e) {
  if (e.keyCode == 13) {
    boton.click();
  }
}
  
app.config(function($compileProvider){
  $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|app|mailto|file|javascript):/);
});
  
app.controller("AppCtrl", function($scope) {
  $scope.texto = '';
  $scope.buscando = false;
  $scope.resultado = [];
  
  $scope.buscar = function() {
    $scope.buscando = true;
  	$scope.resultado = [];
    
    var walker  = walk.walk('./', {followLinks: false});
    
    walker.on('file', function(root, stat, next) {
        files.push(root + '/' + stat.name);
        next();
    });
    
    walker.on('end', function() {
      $scope.buscando = false;
      $scope.$apply();
      
      for (var i=0; i<files.length; i++) {
        var ruta_archivo = files[i];

        // Si es archivo .html
        if (/.html$/.test(ruta_archivo)) {
            var datos_como_buffer = fs.readFileSync(ruta_archivo);
            var data = datos_como_buffer.toString();
            var elemento = jquery("h1", data).get(0);
            var texto_a_buscar = new RegExp($scope.texto, 'i');
								
            if (elemento) {
					      var titulo = elemento.textContent;

                // Busca solo en el titulo de la pagina
                // Nota: cambiar 'titulo' por 'data' si se quiere buscar
                // por contenido.
                if (texto_a_buscar.test(titulo)) {
					          $scope.resultado.push({titulo: titulo, src: ruta_archivo});
				            $scope.$apply();
				        }
            }
        }

      }
    });  
    
  }
});  
  

  
    

</script>
  
  
  
</div>
	</body>
	
